<div id="weeks">
  <button value="月曜">月曜</button>
  <button value="火曜">火曜</button>
  <button value="水曜">水曜</button>
  <button value="木曜">木曜</button>
  <button value="金曜">金曜</button>
  <button value="土曜">土曜</button>
  <button value="日曜">日曜</button>
</div>
<div id="pop"></div>

<script>
  $(function(){
    $("#weeks").find("button").on("click", function(){
      console.log($(this).attr("value"))
      $.ajax({
            url: "/weeks/pop",
            type: "GET",
            data: {week: $(this).attr("value")},
            dataType: "json"
        }).done(function(data) {
          var html = buildHTML(data);
          document.getElementById("pop").innerHTML=html;
          var id;
          data["content"].forEach(function(value){
            $id = "#" + value.jan;
            $($id).barcode(value.jan, "ean13");
          });
        })
        .fail(function() {
          alert('error');
        });
    });
    
    function buildHTML(data){
      var content = data["content"];
      var input = "";
      content.forEach(function(value){
        input += `
        <div class="pop">
          <p class="pop_msg">お買い得品!</p>
          <div class="pop_name_maker">
            <p class="pop_maker">${value.maker}</p>
            <p class="pop_name">${value.name}</p>
          </div>
          
          <div class="pop_info">
            <div>
              <p class="pop_price_msg">本体価格</p>
              <p class="pop_amount"><容量></p>
              <p class="pop_special_price">特価</p>
              <div id=${value.jan} class="pop_jan"></div>
            </div>
            <p class="pop_price">
              ${value.price}<span style="font-size: 50px">円<span>
            </p>
            </div>
          </div>
        </div>
        ` 
      });
      return input
    }
  });
</script>