#store-new{
  h1{
    padding-top: 25px;
    text-align: center;
  }
  form{
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  select, input, label{
    grid-column: 2
  }
  input, select{
    height: 30px;
    font-size: 20px;
  }
  input:focus{
    outline: 0;
  }
  .store-registration{
    text-align: center;
    grid-column: 2
  }
  label{
    font-size: 18px;
    margin-top: 30px;
  }
  p{
    margin: 0;
    grid-column: 2;
  }
  .store-btn{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
  }
}

#stores{
  .store-title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    span{
      border: 1px solid black;
      text-align: center;
    }
  }
  .store-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  .store{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .store-edit{
    padding-top: 3px;
    padding-bottom: 5px;
    input, select{
      height: 23px;
      font-size: 17px;
    }
    label{
      font-size: 18px;
    }
    .store-submit-btn{
      border-radius: 4px;
      padding: 4px 10px;
      font-size: 15px;
    }
    
    form{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      text-align: center;
    }
    
    .store-close{
      font-size: 20px;
      border-radius: 5px;
    }
  }
}