.toppage{
  h2{
    text-align: center;
  }
  
  .usages{
    border: 1px solid black;
    border-radius: 10px;
    width: 420px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    
    p{
      padding: 10px;
      font-size: 18px;
    }
    a{
      color: black;
    }
  }
}

#usage{
  text-align: center;
  padding: 0px;
  font-size: 20px;
}