<% flash.each do |type, message| %>
    <div id="flash" class=<%= type %>><%= message %></div>
<% end %>
 

<script>
  $(function(){
    setTimeout(function(){
      $("#flash").fadeOut();
    }, 3000)
  });
</script>